[color]
	ui = true
[color "decorate"]
	tag = magenta bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red
	new = green
	whitespace = red reverse
[color "grep"]
	filename = magenta
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[user]
	email = {{ git_email }}
	name = {{ git_name }}
[alias]
	lol = log --branches --remotes --tags --oneline --decorate --graph
	slog = log --branches --remotes --tags --oneline --decorate
	glog = log --branches --remotes --tags --oneline --no-decorate --graph
	wlog = log --format='%C(yellow)%h %C(magenta)%>(20,trunc)%an %C(reset)%s'
	ol = log --oneline --no-decorate
	old = log --oneline --decorate
	co = checkout
	st = status
	ci = commit
	wdiff = diff --word-diff
	sl = stash list
	sp = stash pop
	spsh = stash push
	ri = rebase -i
	rc = rebase --continue
	ra = rebase --abort
	amd = commit --amend --no-edit
	eamd = commit --amend --edit
	ds = diff --staged
	wds = wdiff --staged
	pf = push -f
	cmsg = show -s --oneline
	root = !pwd
	br = branch
	cp = cherry-pick
	stis = status --ignore-submodules
	cob = checkout -b
[push]
	default = current
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
	keepBackup = false
[diff]
	tool = vimdiff
	wordRegex = .
[difftool]
	prompt = false
[status]
	showUntrackedFiles = all
[pull]
	rebase = merges
[core]
	excludesFile = ~/.gitignore
[rebase]
	abbreviateCommands = true
[remote "origin"]
	prune = true
