[color]
	ui = true
[user]
	email = {{ git_email }}
	name = {{ git_name }}
[alias]
	lol = log --all --oneline --decorate --graph
	slog = log --all --oneline --decorate
	glog = log --all --oneline --no-decorate --graph
	ol = log --oneline --no-decorate
	co = checkout
	st = status
	ci = commit
	wdiff = diff --word-diff
[push]
	default = current
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[diff]
	tool = vimdiff
	wordRegex = .
[difftool]
	prompt = false
[status]
	showUntrackedFiles = all
[pull]
	rebase = preserve
[core]
	excludesFile = ~/.gitignore
